
/* ***********GLOBAL*********** */
* {box-sizing: border-box; transition: 0.5s}
img {width: 100%;}
.char-list {list-style: none; padding-left: unset;}
a {text-decoration: none; color: #fff;}
a:hover {text-decoration: none; color: #fff;}


/* ***********HEADER*********** */

header {
  height: 10vh;
  min-height: 60px;
  background: #FFB7A4;
  flex-direction: column;
  align-items: center;
}

/* ***********GAME SCREEN********* */

.game-screen {
  width: 80%;
  height: 80vh;
  background: #D4FDFF;
  border: 3px grey double;
  border-radius: 10px;
  overflow: scroll;
}

.game-content {
  padding: 15px;
  display: none;
}

.game-content .selected-content {
  display: inherit!important;

}

/* **********CHARACTER LIST********** */

.char-list, .class-list, .stat-list {
  list-style: none;
  padding-left: 20px;
}

.char-add li {
  display: inline-block;
}

.char-add {
  display: none;
  flex-direction: column;
}

.show-stat {
  display: none;
}

.stat-list {
  justify-content: space-between;
}
.stat-list li {
  display: inline-block;
  position: relative;
}

.stat-list li div {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stat-list-nums > li::before {
  content: ' < ';
  border: 1px solid gray;
  padding: 2px;
  margin: 5px;
  background: #fff;
}

.stat-list-nums > li::after {
  content: ' > ';
  border: 1px solid gray;
  padding: 2px;
  margin: 5px;
  background: #fff;
}
.stat-list-nums > li:hover::before {cursor: w-resize;;}
.stat-list-nums > li:hover::after {cursor: e-resize;}

.stat-list-nums > li:first-child::before {background: darkgrey;}
.stat-list-nums > li:last-child::after {background: darkgrey;}

.stat-list-nums > li:first-child:hover::before {cursor: default;}
.stat-list-nums > li:last-child:hover::after {cursor: default;}

/* ************NAV BAR*********** */

nav {
  flex-direction: column;
  position: absolute;
  left: 100px;
  top: 220px;
}

.nav-link {
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #5e7073;
}

.selected {
  background: #D4FDFF;
  color: #559fcc;
  border: 1px solid #559fcc;
}

.nav-link:hover {
  background-color: #559fcc;
  color: #fff;
  text-decoration: none;
}
